.fl {
    float: left;
    /* 左浮动 */
}

.fr {
    float: right;
    /* 右浮动 */
}

.fn {
    float: none;
    /* 没有浮动 */
}


/* 清除浮动 */

.clear {
    *zoom: 1;
}

.clear::after {
    content: '';
    display: block;
    overflow: hidden;
    height: 0;
    clear: both;
}


/* --------------字体大小开始------------------------ */

.fs10 {
    font-size: 10px;
}

.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px;
}

.fs17 {
    font-size: 17px;
}

.fs18 {
    font-size: 18px;
}

.fs19 {
    font-size: 19px;
}

.fs20 {
    font-size: 20px;
}

.fs21 {
    font-size: 21px;
}

.fs22 {
    font-size: 22px;
}

.fs23 {
    font-size: 24px;
}

.fs25 {
    font-size: 25px;
}


/* --------------字体大小结束------------------------ */


/* --------------字体粗细开始------------------------ */

.bold {
    font-weight: bold;
}

.lighter {
    font-weight: lighter;
}


/* --------------字体粗细结束----------------------- */


/* --------------字体样式开始------------------------ */

.italic {
    font-style: italic;
}

.normal {
    font-style: normal;
}


/* --------------字体样式结束------------------------ */


/* --------------文本修饰开始------------------------ */

.text-underline {
    text-decoration: underline;
}

.text-overline {
    text-decoration: overline;
}

.text-throught {
    text-decoration: line-through;
}


/* --------------文本修饰结束------------------------ */


/* --------------文本对齐方式开始------------------------ */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-top {
    vertical-align: top;
}

.text-middle {
    vertical-align: middle;
}

.text-bottom {
    vertical-align: bottom;
}


/* --------------文本对齐方式结束------------------------ */


/* --------------文本颜色开始------------------------ */

.text-black {
    color: black;
}

.text-white {
    color: white;
}


/* --------------文本颜色结束------------------------ */




/* 外边距 */
.mt0 {
	margin-top: 0 !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mr0 {
	margin-right: 0 !important;
}

.mr5 {
	margin-right: 5px !important;
}

.mr10 {
	margin-right: 10px !important;
}

.mr15 {
	margin-right: 15px !important;
}

.mr20 {
	margin-right: 20px !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.ml0 {
	margin-left: 0 !important;
}

.ml5 {
	margin-left: 5px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.ml15 {
	margin-left: 15px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.m-tb-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.m-tb-5 {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.m-tb-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.m-tb-15 {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.m-tb-20 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.m-lr-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.m-lr-5 {
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.m-lr-10 {
	margin-left: 10px !important;
	margin-right: 10px !important;
}

.m-lr-15 {
	margin-left: 15px !important;
	margin-right: 15px !important;
}

.m-lr-20 {
	margin-left: 20px !important;
	margin-right: 20px !important;
}

.m-lr-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.m0 {
	margin: 0 !important;
}

.m5 {
	margin: 5px !important;
}

.m10 {
	margin: 10px !important;
}

.m15 {
	margin: 15px !important;
}

.m20 {
	margin: 20px !important;
}

/* 内边距 */
.pt0 {
	padding-top: 0 !important;
}

.pt5 {
	padding-top: 5px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pt15 {
	padding-top: 15px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pr0 {
	padding-right: 0 !important;
}

.pr5 {
	padding-right: 5px !important;
}

.pr10 {
	padding-right: 10px !important;
}

.pr15 {
	padding-right: 15px !important;
}

.pr20 {
	padding-right: 20px !important;
}

.pb0 {
	padding-bottom: 0 !important;
}

.pb5 {
	padding-bottom: 5px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pb15 {
	padding-bottom: 15px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pl0 {
	padding-left: 0 !important;
}

.pl5 {
	padding-left: 5px !important;
}

.pl10 {
	padding-left: 10px !important;
}

.pl15 {
	padding-left: 15px !important;
}

.pl20 {
	padding-left: 20px !important;
}

.p-tb-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.p-tb-5 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.p-tb-10 {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.p-tb-15 {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.p-tb-20 {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.p-lr-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.p-lr-5 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.p-lr-10 {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.p-lr-15 {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.p-lr-20 {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.p0 {
	padding: 0 !important;
}

.p5 {
	padding: 5px !important;
}

.p10 {
	padding: 10px !important;
}

.p15 {
	padding: 15px !important;
}

.p20 {
	padding: 20px !important;
}

/* 单行文本截断 */
.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 多行文本截断 */
.text-overflow-more {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* 图标 */
.inline-block {
	display: inline-block;
	vertical-align: middle;
}

/* 显示和隐藏 */
.block,
.show {
	display: block;
}

.hide {
	display: none !important;
}
.hidden{
   visibility: hidden;
}

.inline{
    display: inline !important;
}