/* *********主体内容************* */
main .join-list {
  padding: 3.5% 0 8%;
}
main .join-list table {
  width: 100%;
}
main .join-list table tr:nth-of-type(odd) {
  background-color: #f8f8f8;
}
main .join-list table tr th {
  background-color: #6a6868;
  font-weight: normal;
  font-size: 14px;
  line-height: 54px;
  color: #fff;
}
main .join-list table tr span {
  float: left;
  padding-left: 18%;
}
main .join-list table tr td {
  font-size: 14px;
  line-height: 58px;
  color: #666;
  text-align: center;
}
main .join-list table tr td a {
  color: #d6000f;
}
main .join-list .page {
  text-align: center;
  margin-top: 30px;
  font-size: 0;
  line-height: 22px;
  font-weight: bold;
}
main .join-list .page a {
  font-size: 12px;
  padding: 3px 6px;
  margin-bottom: 2px;
  margin-right: 3px;
  border: 1px solid #ccc;
  color: #8698b6;
}
main .join-list .page a.active,
main .join-list .page a:hover {
  border: 1px solid #d6000f;
  background-color: #d6000f;
  color: #fff;
}
/* *************媒体查询***************** */
@media screen and (max-width: 1366px) {
  main .join-list .wd {
    width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  main .join-list table tr th:nth-of-type(3),
  main .join-list table tr th:nth-of-type(4),
  main .join-list table tr td:nth-of-type(3),
  main .join-list table tr td:nth-of-type(4) {
    display: none !important;
  }
  main .join-list table tr th:nth-of-type(1) {
    text-align: left;
  }
  main .join-list table tr td:nth-of-type(1) {
    text-align: left;
  }
  main .join-list table tr span {
    float: left;
    padding-left: 10%;
  }
  main .join-list table tr td {
    font-size: 12px;
    line-height: 4;
  }
}
