header nav .nav > ul > li:nth-of-type(2) {
  background-color: #9c2727;
}
/* ***********banner*************** */
.banner {
  position: relative;
}
.banner > img {
  display: block;
  width: 100%;
  min-height: 150px;
}
.banner .pic {
  position: absolute;
  left: 0;
  top: 27%;
  width: 100%;
  font-size: 46px;
  line-height: 80px;
  color: #fff;
  text-align: center;
}
.banner .pic p:first-of-type {
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
}
.banner .arrow {
  position: absolute;
  left: 50%;
  top: 73%;
  width: 3%;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: -1.5%;
  cursor: pointer;
}
.banner .arrow::after {
  position: absolute;
  content: '';
  display: inline-block;
  left: 50%;
  top: 100%;
  width: 1px;
  height: 110px;
  background-color: #fff;
}
.banner .arrow img {
  display: block;
}
.banner .arrow:hover img {
  animation: arrowimg 1.2s linear infinite;
}
/* **********主体*************** */
main {
  /* *******天溯介绍************ */
  /* ********文化理念************* */
  /* ********发展历程************* */
  /* ********创新成果************* */
}
main .wd {
  width: 1280px;
  margin: 0 auto;
}
main .path {
  height: 69px;
  border-bottom: 1px solid #ededed;
  font-size: 14px;
  line-height: 69px;
  color: #666;
}
main .path .left span {
  display: inline-block;
  width: 5px;
  height: 69px;
  background: url(../img/bg_sign03.png) no-repeat center center;
}
main .path .left em {
  padding: 0 10px;
}
main .path .right a {
  color: #333;
  padding: 0 30px;
  transition: all 0.5s;
  position: relative;
}
main .path .right a::after {
  content: '';
  display: none;
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 50%;
  height: 2px;
  background-color: #d6000f;
  margin-left: -25%;
}
main .path .right a:hover:after {
  display: block;
}
main .path .right a.active {
  color: #333;
}
main .path .right a.active::after {
  display: block;
}
main .intro {
  padding: 3% 0 3.5%;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 24px;
  color: #666;
}
main .intro .intro-con h2 {
  position: relative;
  margin-bottom: 44px;
  font-size: 26px;
  line-height: 2;
  color: #666;
  text-align: center;
}
main .intro .intro-con h2::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 55px;
  height: 2px;
  background-color: #c2c2c2;
  margin-left: -27.5px;
}
main .culture {
  padding: 3.5% 0 10%;
  background: url(../img/bg_bg01.jpg) no-repeat center / cover;
}
main .culture h2 {
  position: relative;
  margin-bottom: 8%;
  font-size: 26px;
  line-height: 2;
  color: #fff;
  text-align: center;
}
main .culture h2::after {
  content: '';
  position: absolute;
  width: 55px;
  height: 2px;
  background-color: #fff;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
}
main .culture .list ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
main .culture .list ul li {
  width: 32%;
  position: relative;
}
main .culture .list ul li img {
  display: block;
  width: 100%;
}
main .culture .list ul li .bg {
  position: absolute;
  background-color: rgba(212, 0, 16, 0.9);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.5s;
}
main .culture .list ul li .txt {
  position: absolute;
  left: 5.5%;
  top: 11%;
  width: 89%;
  font-size: 16px;
  line-height: 2;
  color: #fff;
  transition: all 0.5s;
}
main .culture .list ul li .txt h3 {
  font-size: 24px;
  position: relative;
}
main .culture .list ul li .txt h3::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -2px;
  width: 38px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s;
}
main .culture .list ul li .txt p {
  opacity: 0;
}
main .culture .list ul li:hover .txt h3::after {
  opacity: 1;
}
main .culture .list ul li:hover .txt p {
  opacity: 1;
}
main .culture .list ul li:hover .bg {
  opacity: 1;
}
main .development {
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  padding: 7% 0;
}
main .development h2 {
  position: relative;
  margin-bottom: 44px;
  font-size: 26px;
  line-height: 2;
  text-align: center;
}
main .development h2:after {
  content: '';
  position: absolute;
  width: 55px;
  height: 2px;
  left: 50%;
  bottom: -10px;
  background-color: #c2c2c2;
  transform: translateX(-50%);
}
main .development .deve-con {
  width: 90%;
  margin: 5px auto;
}
main .development .deve-con .item h3 {
  padding: 6px 0 14px;
  font-size: 24px;
  line-height: 1.5;
  color: #333;
}
main .results {
  padding: 3.6% 0 23.8%;
  background: url(../img/bg_bg02.jpg) no-repeat center bottom / 100% auto;
}
main .results h2 {
  position: relative;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 2;
  color: #666;
  text-align: center;
}
main .results h2:after {
  content: '';
  position: absolute;
  width: 55px;
  height: 2px;
  background-color: #c2c2c2;
  left: 50%;
  bottom: -11px;
  transform: translateX(-50%);
}
main .results .results-con h3 {
  margin-bottom: 66px;
  font-size: 20px;
  line-height: 34px;
  color: #333;
  text-align: center;
}
main .results .results-con .item-box > div {
  width: 48%;
  padding-right: 2%;
}
main .results .results-con .item-box > div .item {
  margin-bottom: 30px;
}
main .results .results-con .item-box > div .item p {
  font-size: 16px;
  color: #595959;
  line-height: 26px;
}
main .results .results-con .item-box > div .item p:first-of-type {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
@keyframes arrowimg {
  0% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(30%);
  }
}
/* ********媒体查询************** */
@media screen and (max-width: 1366px) {
  .banner .pic {
    top: 20%;
    font-size: 36px;
    line-height: 1.5;
  }
  .banner .pic p:first-of-type {
    font-size: 50px;
    line-height: 1.5;
  }
  main .wd {
    width: 100%;
  }
  main .intro .wd {
    width: 90%;
  }
  main .culture .list .wd {
    width: 90%;
  }
  main .results .wd {
    width: 90%;
  }
}
@media screen and (max-width: 1023px) {
  .banner .pic {
    font-size: 26px;
  }
  .banner .pic p:first-of-type {
    font-size: 30px;
  }
  .banner .arrow {
    width: 5%;
    margin-left: -4%;
  }
  .banner .arrow:after {
    height: 37px;
  }
  main .path {
    height: auto;
    line-height: 40px;
  }
  main .path .left {
    display: none;
  }
  main .path .right a {
    padding: 0 9px;
  }
  main .culture .list ul li {
    width: 100%;
    margin-bottom: 5%;
  }
  main .results .results-con .item-box > div {
    float: none;
    width: 100%;
    padding-right: 0;
  }
}
@media screen and (max-width: 650px) {
  .culture .list ul li .txt p {
    font-size: 14px;
  }
}
